{% extends "base.html" %} {% block head %}
<title>Home</title>
<style></style>
{% endblock head %} {% block body %} {% include "navbar.html" %}
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center">
        <form action="" method="get">
          <input
            type="search"
            name="search"
            id=""
            class="form-control border border-2 border-black"
          />
          <button
            type="submit"
            class="btn btn-primary mt-3 w-50"
            data-bs-dismiss="modal"
          >
            Search
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt-5">
  <div class="row g-3">
    {% for i in Posts %}
    <div class="col-6">
      <!-- <a href="{% url 'detail' i.id %}" class="text-black">
        <div class="border border-3 border-primary px-3 py-3 d-flex rounded-2">
          <img
            src="../../media/{{i.image}}"
            class="w-50 d-block rounded-2"
            alt=""
            style="height: 250px"
          />
          <div class="">
            <h4 class="ms-3 mt-2" style="height: 194.38px; object-fit: cover">
              {{i.title}}
            </h4>
          </div>
        </div>
      </a> -->
      <div class="card mb-3  border-black" style="max-width: 540px;">
  <div class="row g-0">
    
    <div class="col-md-4">
      <a href="{% url 'detail' i.id %}" class="text-black">

        <img src="../../media/{{i.image}}" class="img-fluid rounded-start" alt="img">
      </a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
       <a href="{% url 'detail' i.id %}" class="text-black">
         <h5 class="card-title">{{i.title}}</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
       </a>
        <p class="card-text"><small class="text-body-secondary">
          <span class="badge text-bg-primary">{{i.categories.name}}</span>
        </small></p>
        <p class="card-text"><small class="text-body-secondary">
          <a href="">
            <h6>
              {{i.author.username}}

            </h6>
          </a>
        </small></p>
      </div>
    </div>
  </div>
</div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock body %}
