{% extends "base.html" %} {% block head %} 
{% load static %}
<link rel="stylesheet" href="{% static 'user/login.css' %}" />
<title>login</title>

<style>
  body {
    height: 100vh !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
  }
</style>
{% endblock head %} {% block body %}

<div class="container mt-4 d-flex justify-content-center">
  <div class="row px-5">
    <form action="" method="post" class="d-flex align-items-center flex-column">
      <h4 class="mb-4 align-self-start ps-1">Login</h4>
      {% csrf_token %} {{form.as_p}}
      <div class="w-100">
        <button class="btn btn-primary w-100 mt-3 py-2">Login</button>
      </div>
      <div class="mt-4">
        <span
          >Don't have an account?<a href="{% url 'signup'  %}" class="mt-4 py-2"
            >Signup</a
          ></span
        >
      </div>
    </form>
  </div>
</div>

<div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
</div>

{% endblock body %}
