{% extends "base.html" %} {% block head %}
<title>CodePen - icon nav</title>
{% load static %}
<link rel="stylesheet" href="{% static 'user/navbar.css' %}" />

{% endblock head %} {% block body %}

<nav class="menu" id="nav">
  <span class="nav-item active">
    <span class="icon">
      <i data-feather="home"></i>
    </span>
    <a href="{% url 'home'  %}">Home</a>
  </span>
  <span class="nav-item">
    <span class="icon">
      <i data-feather="search" ></i>
    </span>
    <a href="#exampleModal" data-bs-toggle="modal">Search</a>
  </span>
  <span class="nav-item">
    <span class="icon">
      <i data-feather="plus"></i>
    </span>
    <a href="{% url 'create'  %}">New Post</a>
  </span>
  <span class="nav-item">
    <span class="icon">
      <i data-feather="user"></i>
    </span>
    <a href="{% url 'profile'  %}">Your Profile</a>
  </span>

  {% if id != None %}

  <span class="nav-item"></span>
  {% endif %} {% if id == None %}

  <span class="nav-item">
    <span class="icon"> </span>
    <a href="{% url 'signup'  %}">SignUp</a>
  </span>
  <span class="nav-item">
    <span class="icon"> </span>
    <a href="{% url 'signin'  %}">Login</a>
  </span>
  {% endif %}
</nav>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js"></script>
<script>
  feather.replace();
</script>
{% endblock body %}
