<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Horizontal menu</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user/navbar.css' %}" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a class="a1" href="">خانه</a></li>
        <li><a href="">دوره</a></li>
        <li><a href="">مقالات</a></li>
        <li><a href="">درباره ما</a></li>
        <li><a href="">بلاگ</a></li>
        <div class="start-home animation"></div>
      </ul>
    </nav>
  </body>
</html>
