{% extends "base.html" %} {% block head %}
<title>CodePen - icon nav</title>
{% load static %}
<link rel="stylesheet" href="{% static 'user/navbar.css' %}" />

{% endblock head %} {% block body %}

<nav class="menu" id="nav">
  <span class="nav-item active">
    <span class="icon">
      <i data-feather="home"></i>
    </span>
    <a href="#">Home</a>
  </span>
  <span class="nav-item">
    <span class="icon">
      <i data-feather="search"></i>
    </span>
    <a href="#">Search</a>
  </span>
  <span class="nav-item">
    <span class="icon">
      <i data-feather="bell"></i>
    </span>
    <a href="#">Notifications</a>
  </span>
  <span class="nav-item">
    <span class="icon">
      <i data-feather="star"></i>
    </span>
    <a href="#">Favorites</a>
  </span>
  <span class="nav-item">
    <span class="icon">
      <i data-feather="user"></i>
    </span>
    <a href="{% url 'profile'  %}">Your Profile</a>
  </span>
</nav>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js"></script>
<script>
  feather.replace();
</script>
{% endblock body %}
