{% extends "base.html" %} {% block head %}
<title>{{post.title}}</title>
<style>
  img {
    width: 500px;
    height: 300px;
    object-fit: cover;
  }
  .content {
    text-align: justify;
  }
  .comment {
    background-color: #f2f2f2;
    padding: 20px;
    position: relative;
  }

  a {
    text-decoration: none;
  }
  textarea{
    display: block;
    height: 80px;
    resize: none;
    border-radius: 10px;
    padding: 10px 10px;
  }
  label{
    margin-bottom: 10px;
  }
</style>
{% endblock head %} {% block body %}
{% include "navbar.html" %}
<div class="container mt-4">
  <div class="row">
    <h2 class="px-4 mb-4">{{post.title}}</h2>
    <img src="../../media/{{post.image}}" alt="" class="d-block rounded-4" />
    <p class="lh-lg mt-4 content px-4">{{post.content}}</p>
    <hr class="mt-1" />
    <div
      class="d-flex align-items-center text-bg-primary comment justify-content-between"
      style="border-radius: 0.375rem 0.375rem 0 0"
    >
      <div class="d-flex align-items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="23"
          height="23"
          fill="currentColor"
          class="bi bi-chat-left-text-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1z"
          />
        </svg>
        <h5 class="ms-2 fs-5">comments</h5>
      </div>
      <div class="">
        {% if id != None %}

        <a href="#add" data-bs-toggle="modal">
        {% else %}
        <a href="{% url 'signin'  %}" >
        {% endif %}

          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-plus-circle text-light"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
            />
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
            />
          </svg>
        </a>
        

        <div
          class="modal fade text-body"
          id="add"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5 text-body" id="exampleModalLabel">
                  add comment
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
               <form action="" method="POST">
                 {% csrf_token %}
                {{form.as_p}}
                <button
                  type="button"
                  class="btn btn-secondary "
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-primary" >Send</button>
               </form>

              </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="mb-3 pt-2"
      style="
        background-color: rgb(231 225 218);
        border-radius: 0 0 0.375rem 0.375rem;
      "
    >
    {% for i in comment %}
      <div class="mb-3" style="overflow: auto;">
        <div
          class="d-flex justify-content-between align-items-center px-2 mb-1"
        >
          <h6 class="mt-3">{{i.author.username}}</h6>
          <div class="">
            <a href="">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="currentColor"
                class="bi bi-pencil-square text-success"
                viewBox="0 0 16 16"
              >
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                />
                <path
                  fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"
                />
              </svg>
            </a>
            <a href="">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="currentColor"
                class="bi bi-trash text-danger"
                viewBox="0 0 16 16"
              >
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
                />
                <path
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
                />
              </svg>
            </a>
          </div>
        </div>
        <p class="ps-3" >
          {{i.content}}
        </p>
        <hr />
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock body %}
